# Python
__pycache__/
.pytest_cache/
.mypy_cache/
*.pyc
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
htmlcov/
.coverage

# IDE
.vscode/
.ruff_cache
.idea/
*.swp

# Project
.dvc/
.env
*.md
*.duckdb
!README.md
obsidian/
notebooks/*
*.log
*.sh
*.parquet
*.zip

.sqlfluffignore

# Data
data/*
!data/*.dvc
!data/.gitignore

#Optuna
optuna.sqlite3


# Ml Flow
mlruns/*
mlruns.db
