# Python
__pycache__/
.pytest_cache/
.mypy_cache/
*.pyc
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
build/
htmlcov/
.coverage

# IDE
.vscode/
.ruff_cache
.idea/
*.swp

# Project
.env
*.md
!README.md
obsidian/
notebooks/*
data/*
temp/


# Ml Flow
mlruns/*
mlruns.db
